<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <script
    defer
    src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
  ></script>
    <title>Blog do Koa</title>
  </head>
  <body>
    <section class="section">
      <div class="container is-fluid">
        <!--navbar start-->
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img
                src="http://localhost:1234/assets/logo_size.jpg"
                width="112"
                height="28"
                alt="Koa"
              />
            </a>

            <a
              role="button"
              class="navbar-burger burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <!-- <div class="navbar-start">
              <a class="navbar-item"> Home </a>

              <a class="navbar-item"> Documentation </a>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"> More </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item"> About </a>
                  <a class="navbar-item"> Jobs </a>
                  <a class="navbar-item"> Contact </a>
                  <hr class="navbar-divider" />
                  <a class="navbar-item"> Report an issue </a>
                </div>
              </div>
            </div> -->

            <div class="navbar-end">
              <% if (locals.user) { %>
                <p class="navbar-item">
                  Bem-vindo, <%= user.fullName %>
                </p>
                <% } %>
              <div class="navbar-item">
                <% if (locals.user) { %>
                <div class="buttons">
                  <a href="/auth/logout" class="button is-light"> Logout </a>
                </div>
                <% } else { %>
                  <div class="buttons">
                    <a class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a href="/auth" class="button is-light"> Login </a>
                  </div>
                  <% } %>
              </div>
            </div>
          </div>
        </nav>
        <hr>
        <!--navbar end-->
        <!-- <div class="columns">
          <div class="column">
            <h1 class="title">
              <a href="/"><img src="/assets/logo_size.jpg" alt="Koa"></a>
            </h1>
          </div>
          <div class="column">
            <div class="has-text-grey-dark has-text-right">
              <% if (locals.user) { %>
                <p>
                  Olá, <%= user.fullName %>. <a href="/auth/logout">Logout</a>
                </p>
                <% } else {%>
                  <p><a href="/auth">Login/Register</a></p>
                  <% } %>
            </div>
          </div>
        </div> -->