<%- include('partials/header.ejs') -%>
<div class="columns mt-5>
  <div class="column">
    <div>
      <h1 class="subtitle is-1">OOPS!</h1>
    </div>
    <div>
      <h1 class="subtitle is-5"><%= code %> - <%= message %></h1>
    </div>
    <a href="/" class="button is-danger mt-1">Volte Para Home</a>
  </div>
</div>
<%- include('partials/footer.ejs') -%>
